*{
    font-family: work sans,sans-serif;
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    margin: 27px 11px;
    justify-content: center;
    align-items: center;

    .logo{
        margin-right: auto;

        img{
            height: 50px;
        }
    }

    ul{
        list-style: none;
        display: flex;
        width: 58%;
        justify-content: space-evenly;
        align-items: center;

        a{
            text-decoration-line: none;
            font-weight: bold;
            color: black;

            &:hover{
                color: orangered;
            }
        }
        button{
            border: none;
            border-radius: 4px;
            padding: 12px 16px;
            font-weight: bold;
            color: white;
            background: orangered;
            cursor: pointer;
    
            &:hover{
                background: rgb(219 66 12);
            }
        }
    }
}

.footer{
    display: flex;
    flex-direction: column;
    padding: 0px 14px;
    background-image: url(https://startupz.world/images/other/background-thedir-cover.jpg);
    background-size: cover;

    .details-and-links{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin: 70px 0px;

        ul{
            list-style: none;

            li{
                margin-bottom: 16px;

                a{
                    text-decoration-line: none;
                    color: black;
        
                    &:hover{
                        color: orangered;
                    }
                }
            }
        }

        h2{
            margin-bottom: 30px;
        }
        .address{
            flex: 1;
            text-align: center;

            img{
                height: 120px;
                margin-bottom: 30px;
            }
        }
        .company{
            flex: 1;
        }
        .quick-links{
            flex: 1;
        }
        .faqs{
            flex: 1;
        }
    }

    .social-link-and-rights{
        display: flex;
        padding-top: 70px;

        .social-link{
            ul{
                list-style: none;
                display: flex;
                gap: 15px;

                img{
                    height: 20px;
                }
            }
        }

        .rights{
            display: flex;
            gap: 6px;
            align-items: center;
            margin: auto;

            a{
                text-decoration-line: none;
                font-weight: bold;
                color: black;
            }
        }
    }
}

#about{
    margin: 50px 50px;
    display: flex;
    flex-direction: column;
    gap: 23px;

    h1{
        margin-bottom: 30px;
    }

    p{
        color: #777777;
        line-height: 28px;
    }
}

#investor{
    margin: 50px 50px;
    display: flex;
    flex-direction: column;
    gap: 23px;

    h1{
        margin-bottom: 30px;
        text-align: center;
    }

    p{
        line-height: 28px;
    }
    .check{
        display: flex;
        align-items: center;
        gap: 13px;

        img{
            height: 22px;
        }
    }

    .details{
        display: flex;
        gap: 75px;
        flex-wrap: wrap;

        span{
            font-weight: bold;
            font-size: x-large;
        }

        h4{
            color: #777777;
            line-height: 28px;
        }
    }
}

#login{
    display: flex;
    flex-direction: column;
    margin: 75px 0px;
    align-items: center;

    .heading{
        display: flex;
        align-items: center;
        gap: 10px;

        p{
            font-size: xx-large;
        }
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 30px 0px;

        input{
            width: 40vw;
            height: 32px;
            border-radius: 2px;
            border: 1px solid #e3e3e3;
            padding: 0px 8px;
        }
        
        button{
            background: orangered;
            border-radius: 2px;
            height: 32px;
            border: none;
            width: 42vw;
            color: white;
            font-size: large;
            font-weight: bold;
            cursor: pointer;

            &:hover{
                background-color:  rgb(219 66 12);
            }
        }
    }
    
    .register{
        display: flex;
        background: #efefef;
        height: 32px;
        width: 42vw;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        gap: 5px;
        
        a{
            color: #347f9d;
            font-weight: bold;
            text-decoration-line: none;
        }
    }
}